@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Updock&display=swap');

:root {
  --clr-header: #feefdd;
  --clr-score-header: #50b2c0;
  --clr-text: #201e1f;
  --clr-navy: #001f35;
  --clr-gold: #9d8d6c;

  --ff-roboto: 'Roboto Mono', monospace;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-roboto);
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-gold);
  scroll-behavior: smooth;
  background: var(--clr-navy);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Remove default button styles */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn-primary {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid var(--clr-navy);
  box-shadow: 5px 6px 12px -2px var(--clr-gold);
}

.btn-primary {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  padding: 1.25rem 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 1rem 5rem;
  justify-content: center;
  width: 100%;
}

.scores-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.scores-list li {
  padding: 0.8rem 0.8rem;
}

.add-form {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
}

.form-group {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

form button[type='submit'] {
  margin-top: 1rem;
  float: right;
}
